.container-form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 30%;
    margin-top: 15px;
    margin-left: 110px;
}

.form-itemwrap{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 15px;
    gap: 10px;
}

.form-itemwrap label{
    font-size: 15px;
    font-weight: 500;
}

.form-itemwrap input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(199, 196, 196);;
}

.form-itemwrap input:hover{
    border: 3px solid rgb(182, 207, 221);
}

.btn {
    text-decoration: none;
    appearance: none;
      -webkit-appearance: none;
    font-family: sans-serif;
    cursor: pointer;
    padding: 10px 20px;
    min-width: 10px;
    border-radius: 5px;
    border: 0px;
      -webkit-transition: background-color 100ms linear;
      -ms-transition: background-color 100ms linear;
       transition: background-color 100ms linear;
  }

  .btn-primary {
    background: #3498db;
    color: #ffffff;
  }
  
  .btn-primary:hover {
    background: #2980b9;
    color: #ffffff;
  }
  
  .btn-success {
    background: #2ecc71;
    color: #ffffff;
  }
  
  .btn-success:hover {
    background: #27ae60;
    color: #ffffff;
  }